<div class="box">
    <article class="media">
        <div class="media-left">
            <div class = "media-content content-center">
                <figure class="image is-64x64">
                    <%= image_tag "default_person.jpg" %>
                </figure>
                <strong><%= name_user %></strong><br />
                <small>@<%= username_user %></small>
            </div>
        </div>
        <div class="media-content">
            <nav class="level">
                <div class="level-left is-mobile">
                    <% if user_signed_in? %>
                        <% if current_user.id == id_user %>           
                            <%= link_to edit_path_form, class: "level-item" do %>
                                <span class="icon"><i class="fa fa-pencil" aria-hidden="true"></i></span>
                            <% end %>
                            <%= link_to form_view, data: {"turbo-method": :delete, turbo_confirm: "Are you sure you want to delete Event?"
                            } do %>
                                <span class="icon"><i class="fa fa-trash-o" aria-hidden="true"></i></span>
                            <% end %>
                        <% end %>
                    <% end %>
                </div>
                <div class="level-right is-mobile">
                    <% if not current_user or current_user.id != id_user %>
                        <% if current_user and current_user.attendees.where(attendee_event_id:form_view.id).exists? %>
                            <%= link_to 'Exit', attendee_path( :send_object => form_view.id ), 
                            data: {"turbo-method": :delete, turbo_confirm: "Are you sure you want to exit the Event?"}, 
                            class:"button is-dark" %>
                        <% else %>
                            <% if form_view.event_date > Time.now.in_time_zone %>
                                <%= link_to 'Join', attendees_path( :send_object => form_view ), 
                                data: {"turbo-method": :post, turbo_confirm: "Are you sure you want to Join Event?"}, 
                                class:"button is-info" %>
                            <% end %>
                            
                        <% end %>
                    <% elsif current_user and form_view.creator_id == current_user.id %>
                        <%= link_to 'Delete', form_view, class:"button is-red" %>                                
                    <% end %> 
                </div> 
            </nav>
            <div class="content" style='text-align:center' >
                <strong><%= title_form %></strong>
                <p><%= date_form %></p>
            </div>
            <div class="content">
                <p><%= description_form %></p>
            </div>
        </div>
    </article>
</div>  
<nav class="navbar is-fixed-bottom">
  <div class="navbar-menu">
    <div class="navbar-item">
      <div class="field is-grouped">
        <p class="control">
          <%= link_to 'Return', root_path, class:"button is-dark" %>
        </p>
      </div>
    </div>
  </div>
</nav>   

