<div class="box">
            <article class="media">
                
                <div class="media-left">
                    <div class = "media-content content-center">
                        <figure class="image is-64x64">
                             <%= image_tag "default_person.jpg" %>
                        </figure>
                        <strong><%= name_user %></strong><br />
                        <small>@<%= username_user %></small>
                    </div>
                </div>
            
                <div class="media-content">
                    <div class="content">
                        <strong><%= title_form %></strong><br />
                        <p><%= date_form %></p>
                    </div>
                    <div class="content">
                        <p><%= description_form %></p>
                    </div>
                    <nav class="level">
                        <div class="level-left is-mobile">
                            <%= link_to form_view, class: "level-item" do %>
                                <span class="icon"><i class="fa fa-link" aria-hidden="true"></i></span>
                            <% end %>
                            <% if user_signed_in? and current_user.id == id_user %>
                                <%= link_to edit_path_form, class: "level-item" do %>
                                    <span class="icon"><i class="fa fa-pencil" aria-hidden="true"></i></span>
                                <% end %>
                                <%= link_to form_view, data: {"turbo-method": :delete, turbo_confirm: "Are you sure you want to delete Event?"
                                } do %>
                                    <span class="icon"><i class="fa fa-trash-o" aria-hidden="true"></i></span>
                                <% end %>
                            <% end %>
                        </div>
                        <% if (not current_user or current_user.id != id_user) and valid_join %>
                                <div class="level-right is-mobile">
                                    <% if current_user and current_user.attendees.where(attendee_event_id:form_view.id).exists? %>
                                        <%= link_to 'See Event', form_view, class:"button is-dark" %>
                                    <% else %>
                                        <%= link_to 'Join', form_view, class:"button is-info" %>
                                    <% end %>
                                </div>                           
                        <% end %>  
                    </nav>
                    
                </div>
            </article>
        </div> 